asgiref==3.11.1
boto3==1.42.64
botocore==1.42.64
cffi==2.0.0
Django==6.0.2
django-cors-headers==4.9.0
django-redis==6.0.0
django-storages==1.14.6
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
dotenv==0.9.9
drf-yasg==1.21.14
inflection==0.5.1
jmespath==1.1.0
packaging==26.0
pillow==12.1.1
pillow-avif-plugin==1.5.5
psycopg2-binary==2.9.11
pycparser==3.0
PyJWT==2.11.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.3
redis==7.3.0
s3transfer==0.16.0
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
uritemplate==4.2.0
urllib3==2.6.3
